@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  background-color: #fff;
  z-index: 1000;
  border-bottom: 1px solid #e5e5e5;
}

.logo {
  color: #6070ff;
  font-weight: 900;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}

.desktop {
  display: none;
}

.menu-button {
  cursor: pointer;
  padding-left: 6rem;
  background: url('assets/pictures/union.svg') no-repeat center center;
}

.mobile-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(33 74 254 / 76%);
  display: none;
  z-index: 1001;
  overflow-y: auto;
  backdrop-filter: blur(6px);
}

.mobile-menu li {
  padding: 15px;
}

.mobile-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

.close-menu {
  color: #fff;
  font-size: 24px;
  padding: 16px 32px;
  cursor: pointer;
  text-align: right;
}

.animation {
  animation-duration: 3s;
  animation-name: first-time;
}

@keyframes first-time {
  from {
    translate: 100vw 0;
  }

  to {
    translate: 0 0;
  }
}

.section-first {
  background-image: url(assets/pictures/header-shapes\ mobile@2x.svg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 114px 24px;
  background-attachment: scroll;
}

.greeting {
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.jobD{
  color: #172b4d;
  font-weight: 600;
  font-size: 20px;
  line-height: 52px;
}

.job-description {
  color: #344563;
  font-weight: 400;
  font-size: 16px;
}

.social-links {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.social-media-links {
  display: flex;
  gap: 16px;
  list-style-type: none;
  padding-bottom: 20px;
}

.works {
  display: grid;
  background-color: #e1e0e036;
  gap: 50px;
  padding: 114px 16px;
}

.cards {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 16px;
  border: solid #e5e5e5 1px;
}

.card-titles {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  padding-top: 10px;
}

.subheading-lists {
  display: flex;
  gap: 12px;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.canopy {
  color: #344563;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.subheading-list-title {
  color: #7a869a;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.card-content {
  color: #344563;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.webdev-languages {
  display: flex;
  line-height: 24px;
  gap: 8px;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.lan {
  line-height: 24px;
  padding: 4px 12px 4px 12px;
  border-radius: 8px;
  color: #6070ff;
  background-color: #ebebff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.see {
  padding-top: 12px;
}

.see-project {
  width: 126px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #6070ff;
  background-color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #396df2;
}

.about-myself {
  padding: 114px 16px 114px 16px;
}

.my-resume {
  width: 162px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #6070ff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #396df2;
}

.my-resume:hover {
  color: #fff;
  cursor: pointer;
  background-color: #6070ff;
}

.my-resume:active {
  box-shadow: 2px 2px 5px #2230d2;
}

.lists {
  display: flex;
  justify-content: space-between;
}

.web-lang,
.lists {
  list-style-type: none;
}

.lists li h4 {
  width: 237px;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 500;
  padding-top: 20px;
}

.web-lang img {
  margin-right: 15px;
}

.lists li img {
  padding-top: 25px;
}

.web-lang {
  padding-top: 12px;
}

.web-lang li {
  border-radius: 8px;
  background: #f7f7f9;
  margin-bottom: 12px;
  font-size: 15px;
  font-weight: 500;
  color: #253858;
  display: flex;
  align-items: center;
}

.contact {
  background-color: #6070ff;
  background-image: url(assets/pictures/contact.svg);
  background-position: right;
  background-repeat: no-repeat;
  flex-direction: column;
  display: flex;
  border-top-left-radius: 70px;
}

.contact-me {
  font-size: 40px;
  text-align: center;
  color: #fff;
  padding-top: 120px;
  padding-bottom: 10px;
}

.detail {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  padding-left: 30px;
  padding-right: 24px;
  padding-bottom: 40px;
}

.form {
  padding-left: 24px;
  list-style-type: none;
}

.name,
.email {
  width: 327px;
  height: 48px;
  border-radius: 10px;
  border-color: #fff;
  border-style: solid;
}

.name {
  margin-bottom: 15px;
}

.email {
  margin-bottom: 15px;
}

.message {
  border-radius: 10px;
  border-color: #fff;
  border-style: solid;
  width: 327px;
  height: 170px;
  margin-bottom: 15px;
}

.submit,
.reset {
  width: 142px;
  height: 48px;
  border-radius: 10px;
  border-color: #fff;
  border-style: solid;
  background-color: #fff;
}

.get {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.name::placeholder,
.email::placeholder {
  font-size: 17px;
  font-weight: 400;
  padding-left: 10px;
  color: #172b4d;
}

.message::placeholder {
  font-size: 15px;
  font-weight: 400;
  color: #b3bac5;
  padding-left: 10px;
  padding-top: 15px;
}

.submit:hover,
.reset:hover {
  color: #fff;
  cursor: pointer;
  background-color: rgb(220, 196, 228);
}

.submit:active,
.reset:active {
  box-shadow: 2px 2px 5px black;
}

.footer {
  padding-top: 10px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1d1a1a7d;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1002;
}

a{
  text-decoration: none;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  height: 80%;
  max-width: 500px;
  position: relative;
}

.close-popup {
  position: absolute;
  right: 1rem;
  cursor: pointer;
  font-size: 2rem;
  color: #8a7a7a;
}

.btns {
  display: flex;
  gap: 15px;
  justify-content: center;
  padding-top: 7rem;
}

.links {
  border: 1px solid #396df2;
  border-radius: 5px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  color: #396df2;
}

.btn-image {
  margin-left: 1.5rem;
}

#error-message {
  color: red;
  display: none;
}

.btnss {
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .section-first {
    background-size: cover;
  }
  .section-first,
  .works,
  .about-myself,
  .contact {
    margin-top: 80px;
  }
}
@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .logo {
    padding-left: 3rem;
  }

  .navi {
    display: flex;
    gap: 2rem;
    padding-right: 3rem;
  }

  .nav-d {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    transition: all 1s ease-out;
  }

  .nav-d:hover {
    color: #fff;
    background-color: #2230d2;
  }

  .nav-d.active {
    color: #2a80745b;
    text-decoration: underline;
  }

  .section-first {
    background-image: url(assets/pictures/desktop.svg);
    padding: 220px 218px 300px 230px;
    margin-top: 70px;
    background-size: contain;
  }

  .cards {
    flex-direction: row;
    background-color: white;
    height: 100%;
    gap: 34px;
  }

  .about-myself {
    display: flex;
    gap: 20px;
  }

  .lists {
    display: flex;
    justify-content: space-between;
  }

  .left {
    padding-left: 100px;
    width: 40%;
  }

  .right {
    padding-right: 100px;
    width: 60%;
  }

  .contact {
    background-image: url(assets/pictures/desk-contact.svg);
    text-align: center;
    padding-bottom: 100px;
  }

  .footer {
    display: none;
  }

  .works {
    justify-content: center;
    gap: 8rem;
  }

  #row {
    flex-direction: row-reverse;
  }
  .btnss {
    justify-content: center;
  }
}
